*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
abnormalDetection/dataset/raw_abnormal_1650107203.npy
abnormalDetection/dataset/raw_abnormal_1650107209.npy
abnormalDetection/dataset/raw_abnormal_1650107217.npy
abnormalDetection/dataset/raw_abnormal_1650107219.npy
abnormalDetection/dataset/raw_abnormal_1650107221.npy
abnormalDetection/dataset/raw_abnormal_1650107224.npy
abnormalDetection/dataset/raw_abnormal_1650107227.npy
abnormalDetection/dataset/raw_abnormal_1650107230.npy
abnormalDetection/dataset/raw_abnormal_1650107240.npy
abnormalDetection/dataset/raw_abnormal_1650107246.npy
abnormalDetection/dataset/raw_abnormal_1650107250.npy
abnormalDetection/dataset/raw_abnormal_1650107253.npy
abnormalDetection/dataset/raw_abnormal_1650107256.npy
abnormalDetection/dataset/raw_abnormal_1650107259.npy
abnormalDetection/dataset/raw_abnormal_1650107265.npy
abnormalDetection/dataset/raw_abnormal_1650107268.npy
abnormalDetection/dataset/raw_abnormal_1650107272.npy
abnormalDetection/dataset/raw_abnormal_1650107276.npy
abnormalDetection/dataset/raw_abnormal_1650107281.npy
abnormalDetection/dataset/raw_abnormal_1650107289.npy
abnormalDetection/dataset/raw_abnormal_1650107305.npy
abnormalDetection/dataset/raw_abnormal_1650107311.npy
abnormalDetection/dataset/raw_abnormal_1650107318.npy
abnormalDetection/dataset/raw_abnormal_1650107335.npy
abnormalDetection/dataset/raw_abnormal_1650107342.npy
abnormalDetection/dataset/raw_abnormal_1650107349.npy
abnormalDetection/dataset/raw_abnormal_1650107354.npy
abnormalDetection/dataset/raw_abnormal_1650107358.npy
abnormalDetection/dataset/raw_abnormal_1650107363.npy
abnormalDetection/dataset/raw_abnormal_1650107373.npy
abnormalDetection/dataset/raw_abnormal_1650107378.npy
abnormalDetection/dataset/raw_abnormal_1650107384.npy
abnormalDetection/dataset/raw_abnormal_1650107387.npy
abnormalDetection/dataset/raw_abnormal_1650107391.npy
abnormalDetection/dataset/raw_abnormal_1650107396.npy
abnormalDetection/dataset/raw_abnormal_1650107403.npy
abnormalDetection/dataset/raw_abnormal_1650107407.npy
abnormalDetection/dataset/raw_abnormal_1650107411.npy
abnormalDetection/dataset/raw_abnormal_1650107415.npy
abnormalDetection/dataset/raw_abnormal_1650107419.npy
abnormalDetection/dataset/raw_abnormal_1650107423.npy
abnormalDetection/dataset/raw_abnormal_1650107429.npy
abnormalDetection/dataset/raw_abnormal_1650107434.npy
abnormalDetection/dataset/raw_abnormal_1650107439.npy
abnormalDetection/dataset/raw_abnormal_1650107445.npy
abnormalDetection/dataset/raw_abnormal_1650107449.npy
abnormalDetection/dataset/raw_abnormal_1650107455.npy
abnormalDetection/dataset/raw_abnormal_1650107460.npy
abnormalDetection/dataset/raw_abnormal_1650107467.npy
abnormalDetection/dataset/raw_abnormal_1650107473.npy
abnormalDetection/dataset/raw_abnormal_1650107477.npy
abnormalDetection/dataset/raw_normal_1650111773.npy
abnormalDetection/dataset/raw_normal_1650111799.npy
abnormalDetection/dataset/raw_normal_1650111833.npy
abnormalDetection/dataset/raw_normal_1650111857.npy
abnormalDetection/dataset/raw_normal_1650111887.npy
abnormalDetection/dataset/raw_normal_1650111906.npy
abnormalDetection/dataset/raw_normal_1650111925.npy
abnormalDetection/dataset/raw_normal_1650111943.npy
abnormalDetection/dataset/raw_normal_1650111960.npy
abnormalDetection/dataset/raw_normal_1650111983.npy
abnormalDetection/dataset/raw_normal_1650111999.npy
abnormalDetection/dataset/raw_normal_1650112021.npy
abnormalDetection/dataset/raw_normal_1650112040.npy
abnormalDetection/dataset/raw_normal_1650112043.npy
abnormalDetection/dataset/raw_normal_1650112050.npy
abnormalDetection/dataset/raw_normal_1650112059.npy
abnormalDetection/dataset/raw_normal_1650112083.npy
abnormalDetection/dataset/raw_normal_1650112098.npy
abnormalDetection/dataset/raw_normal_1650112117.npy
abnormalDetection/dataset/raw_normal_1650112138.npy
abnormalDetection/dataset/raw_normal_1650112164.npy
abnormalDetection/dataset/raw_normal_1650112172.npy
abnormalDetection/dataset/raw_normal_1650112199.npy
abnormalDetection/dataset/raw_normal_1650112216.npy
abnormalDetection/dataset/raw_normal_1650112235.npy
abnormalDetection/dataset/raw_normal_1650112240.npy
abnormalDetection/dataset/raw_normal_1650112258.npy
abnormalDetection/dataset/raw_normal_1650112272.npy
abnormalDetection/dataset/raw_normal_1650112282.npy
abnormalDetection/dataset/raw_normal_1650112295.npy
abnormalDetection/dataset/raw_normal_1650112304.npy
abnormalDetection/dataset/raw_normal_1650112318.npy
abnormalDetection/dataset/raw_normal_1650112335.npy
abnormalDetection/dataset/raw_normal_1650112345.npy
abnormalDetection/dataset/raw_normal_1650112353.npy
abnormalDetection/dataset/seq_abnormal_1650107203.npy
abnormalDetection/dataset/seq_abnormal_1650107209.npy
abnormalDetection/dataset/seq_abnormal_1650107217.npy
abnormalDetection/dataset/seq_abnormal_1650107219.npy
abnormalDetection/dataset/seq_abnormal_1650107221.npy
abnormalDetection/dataset/seq_abnormal_1650107224.npy
abnormalDetection/dataset/seq_abnormal_1650107227.npy
abnormalDetection/dataset/seq_abnormal_1650107230.npy
abnormalDetection/dataset/seq_abnormal_1650107240.npy
abnormalDetection/dataset/seq_abnormal_1650107246.npy
abnormalDetection/dataset/seq_abnormal_1650107250.npy
abnormalDetection/dataset/seq_abnormal_1650107253.npy
abnormalDetection/dataset/seq_abnormal_1650107256.npy
abnormalDetection/dataset/seq_abnormal_1650107259.npy
abnormalDetection/dataset/seq_abnormal_1650107265.npy
abnormalDetection/dataset/seq_abnormal_1650107268.npy
abnormalDetection/dataset/seq_abnormal_1650107272.npy
abnormalDetection/dataset/seq_abnormal_1650107276.npy
abnormalDetection/dataset/seq_abnormal_1650107281.npy
abnormalDetection/dataset/seq_abnormal_1650107289.npy
abnormalDetection/dataset/seq_abnormal_1650107305.npy
abnormalDetection/dataset/seq_abnormal_1650107311.npy
abnormalDetection/dataset/seq_abnormal_1650107318.npy
abnormalDetection/dataset/seq_abnormal_1650107335.npy
abnormalDetection/dataset/seq_abnormal_1650107342.npy
abnormalDetection/dataset/seq_abnormal_1650107349.npy
abnormalDetection/dataset/seq_abnormal_1650107354.npy
abnormalDetection/dataset/seq_abnormal_1650107358.npy
abnormalDetection/dataset/seq_abnormal_1650107363.npy
abnormalDetection/dataset/seq_abnormal_1650107373.npy
abnormalDetection/dataset/seq_abnormal_1650107378.npy
abnormalDetection/dataset/seq_abnormal_1650107384.npy
abnormalDetection/dataset/seq_abnormal_1650107387.npy
abnormalDetection/dataset/seq_abnormal_1650107391.npy
abnormalDetection/dataset/seq_abnormal_1650107396.npy
abnormalDetection/dataset/seq_abnormal_1650107403.npy
abnormalDetection/dataset/seq_abnormal_1650107407.npy
abnormalDetection/dataset/seq_abnormal_1650107411.npy
abnormalDetection/dataset/seq_abnormal_1650107415.npy
abnormalDetection/dataset/seq_abnormal_1650107419.npy
abnormalDetection/dataset/seq_abnormal_1650107423.npy
abnormalDetection/dataset/seq_abnormal_1650107429.npy
abnormalDetection/dataset/seq_abnormal_1650107434.npy
abnormalDetection/dataset/seq_abnormal_1650107439.npy
abnormalDetection/dataset/seq_abnormal_1650107445.npy
abnormalDetection/dataset/seq_abnormal_1650107449.npy
abnormalDetection/dataset/seq_abnormal_1650107455.npy
abnormalDetection/dataset/seq_abnormal_1650107460.npy
abnormalDetection/dataset/seq_abnormal_1650107467.npy
abnormalDetection/dataset/seq_abnormal_1650107473.npy
abnormalDetection/dataset/seq_abnormal_1650107477.npy
abnormalDetection/dataset/seq_normal_1650111773.npy
abnormalDetection/dataset/seq_normal_1650111799.npy
abnormalDetection/dataset/seq_normal_1650111833.npy
abnormalDetection/dataset/seq_normal_1650111857.npy
abnormalDetection/dataset/seq_normal_1650111887.npy
abnormalDetection/dataset/seq_normal_1650111906.npy
abnormalDetection/dataset/seq_normal_1650111925.npy
abnormalDetection/dataset/seq_normal_1650111943.npy
abnormalDetection/dataset/seq_normal_1650111960.npy
abnormalDetection/dataset/seq_normal_1650111983.npy
abnormalDetection/dataset/seq_normal_1650111999.npy
abnormalDetection/dataset/seq_normal_1650112021.npy
abnormalDetection/dataset/seq_normal_1650112040.npy
abnormalDetection/dataset/seq_normal_1650112043.npy
abnormalDetection/dataset/seq_normal_1650112050.npy
abnormalDetection/dataset/seq_normal_1650112059.npy
abnormalDetection/dataset/seq_normal_1650112083.npy
abnormalDetection/dataset/seq_normal_1650112098.npy
abnormalDetection/dataset/seq_normal_1650112117.npy
abnormalDetection/dataset/seq_normal_1650112138.npy
abnormalDetection/dataset/seq_normal_1650112164.npy
abnormalDetection/dataset/seq_normal_1650112172.npy
abnormalDetection/dataset/seq_normal_1650112199.npy
abnormalDetection/dataset/seq_normal_1650112216.npy
abnormalDetection/dataset/seq_normal_1650112235.npy
abnormalDetection/dataset/seq_normal_1650112240.npy
abnormalDetection/dataset/seq_normal_1650112258.npy
abnormalDetection/dataset/seq_normal_1650112272.npy
abnormalDetection/dataset/seq_normal_1650112282.npy
abnormalDetection/dataset/seq_normal_1650112295.npy
abnormalDetection/dataset/seq_normal_1650112304.npy
abnormalDetection/dataset/seq_normal_1650112318.npy
abnormalDetection/dataset/seq_normal_1650112335.npy
abnormalDetection/dataset/seq_normal_1650112345.npy
abnormalDetection/dataset/seq_normal_1650112353.npy
