<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .iframebox {
        position: relative;
        padding-bottom: 177.7778%;
        }

        iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;  
        }
    </style>
</head>
<body>
    <div class="iframebox">
        <iframe src="http://211.117.125.107:34526/" title="내용" name="frame" frameborder="0"></iframe>
    </div>
</body>
</html>
